{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <title>먹어도 되개냥? &mdash; CaCaO(조)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="keywords" content="some keywords that best describe your business" />
  <meta name="description" content="a short description of your company" />
  <meta name="author" content="SRPACDY" />

  <!-- Mobile Specific Metas
        ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- CSS
        ================================================== -->
        
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/background.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="screen" />

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />
  <link rel="stylesheet" href="{% static 'fonts/NanumBarunpenB/NanumBarunpenB.css' %}" />
  <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tooptip.css' %}" />

  <!-- Favicons
        ================================================== -->
  <link rel="shortcut icon" href="{% static 'images/icon.ico' %}" />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

<!-- Popover -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
.radio-control {
  font-size: 2em;
}
.image-control {
  overflow: auto;
}
</style>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f6466e3577e7c47"></script>
  <script type="text/javascript" src="{% static 'js/Search.js' %}" charset="utf-8"></script>



  <!-- Primary Page Layout
    ====================================================================== -->
  <div class="header bg">
    <div class="container">
      <div class="row">
        <header class="col-xs-12 text-center">
          <div class="logo" style="margin-bottom:auto;">
            <a href="upload"><img src="{% static 'images/catdoglogo2.png' %}" /></a>
          </div>
          <p><h1 style="font-family: NanumBarunpenB; font-size: 5vw">
              Providing the right way to eat and staying healthy with your pet
            </h1></p>
        </header>
      </div>
    </div>
  </div>

  <!-- 먹어도 되개냥 position -->
  <div class="about" id="aout">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 text-center">
          <div class="about-content">
            <h2>
              <p style="font-family: NanumBarunpenB" style="font-weight: bold">
                Welcome to '먹어도 되개냥'
              </p>
            </h2>
            <p style="font-family: NanumBarunpenB">
              Would our pets eat the ingredients we eat? Check it out in here!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>






  {% block uploadform %}
  {% endblock %}


  {% block result %}
  {% endblock %}



  <!-- social position -->
  <div class="social">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="social-content">
            <h2>
              <p style="font-family: NanumBarunpenB">Team member</p>
            </h2>
            <div class="grid clearfix" style="padding-bottom: 40px;">
              <div class="col-sm-3 text-center">
                <figure>
                  <img src="{% static 'images/profile/001.png' %}" alt="Image" class="img-fluid" />
                </figure>
                <p style="font-family: NanumBarunpenB">Ji-Hyang Park</p>
              </div>
              <div class="col-sm-3 text-center">
                <figure>
                  <img src="{% static 'images/profile/002.png' %}" alt="Image" class="img-fluid" />
                </figure>
                <p style="font-family: NanumBarunpenB">Chae-ri Kim</p>
              </div>
              <div class="col-sm-3 text-center">
                <figure>
                  <img src="{% static 'images/profile/003.png' %}" alt="Image" class="img-fluid" />
                </figure>
                <p style="font-family: NanumBarunpenB">Hakjun Kim</p>
              </div>
              <div class="col-sm-3 text-center">
                <figure>
                  <img src="{% static 'images/profile/004.png' %}" alt="Image" class="img-fluid" />
                </figure>
                <p style="font-family: NanumBarunpenB">Yoon-mi Kim</p>
              </div>
            </div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- footer position -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copy">
            <p style="font-family: NanumBarunpenB">
              Thank You. &copy;2020
              <a href="" target="_blank">CaCaO(조)
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JS
        ================================================== -->

  <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scroll.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/countdown.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/supersized.3.2.7.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/images.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/form.js' %}" charset="utf-8"></script>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
  
  <!-- Popover script -->
  <script>
  $(function(){$('[data-toggle="popover"]').popover()})
  $('button#').on('click', function(e) {e.preventDefault(); return true;});
  </script>


  <!-- End Document
        ================================================== -->

</body>

</html>